.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #696969;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

/* .App-link {
    color: #61dafb;
} */

svg g {
    transform: translate(50%, 50%);
}

.circles {
    font-size: 0.5em;
    height: 100vh;
    width: 100vw;
}

.active {
    position: relative;
}


/*
The ::after pseudo-element creates a positioned pseudo-element at the bottom of the active <li> element,
simulating a white line under the button
*/
/* .currentPage::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: white;
  } */

.navigation {
    width: 100%;
    height: 80px;
    background-color: black;
    box-shadow: 5px 5px 5px #454545;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .navigation ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.navigation link {
    margin-right: 10px;
}

.navigation button {
    height: 70px;
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: white;
}

.navigation button:focus {
    outline: none;
} */

.links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  
  .links a {
    margin-left: 15px;
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .currentPage {
    border-bottom: 2px solid white;
  }

