.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #454545;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

svg g {
    transform: translate(50%, 50%);
}

button {
    margin: 1vh 1vw 1vh 1vw;
}

.tree {
    font-size: 0.5em;
}

.active {
    font-weight: bold;
}

.navigation {
    width: 100%;
    height: 70px;
    background-color: black;
    box-shadow: 5px 5px 5px #454545;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.navigation li {
    margin-right: 10px;
}

.navigation button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: white;
}

.navigation button:focus {
    outline: none;
    font-weight: bolder;
}

.label {
    margin: 10px;
    color: white;
    font-size: 25px;
}
