.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #57dab3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

svg {
	width: 100vw;
	height: 100vh;
}

svg * {
	transform: translate(25%,5%);
}

html, body, #root, .App, .chart{
	height: stretch;
	width: stretch;
}

button{
	margin: 1vh 1vw 1vh 1vw;
}

.tree{
	font-size: 0.5em;
}

